In [1]:
# Import necessary libraries

import pandas as pd

In [2]:
mothers_hmis_df = pd.read_csv('data/mothers_hmis.csv')
facilities_lookup_df = pd.read_csv('data/facilities_lookup.csv')
prompts_engagement_df = pd.read_csv('data/prompts_engagement.csv')

In [3]:
mothers_hmis_df.head()

,mother_id,facility_id,county,residence_type,age,age_group,parity,delivery_date,delivery_mode,complication_delivery,postpartum_complication_6w,postnatal_visit_date_1,postnatal_visit_6w,prompts_enrolled,prompts_mother_id
0,1,F028,Kilifi,rural,36,35-49,4,2024-10-17,CS,none,0,2024-11-18,1,0,NaN
1,2,F007,Kiambu,peri_urban,34,25-34,4,2024-07-23,SVD,other,0,2024-08-30,1,1,P00001
2,3,F002,Nairobi,urban,30,25-34,1,2024-03-21,SVD,sepsis,0,2024-04-25,1,0,NaN
3,4,F019,Kajiado,peri_urban,17,15-19,0,2024-03-23,SVD,none,0,NaN,0,1,P00002
4,5,F019,Kajiado,peri_urban,24,20-24,2,2024-11-06,SVD,none,0,2024-11-23,1,1,P00003

In [4]:
facilities_lookup_df.head()

,facility_id,facility_name,county,facility_level,facility_type,setting
0,F001,Nairobi Facility 1,Nairobi,2,dispensary,urban
1,F002,Nairobi Facility 2,Nairobi,4,health_center,urban
2,F003,Nairobi Facility 3,Nairobi,3,health_center,urban
3,F004,Nairobi Facility 4,Nairobi,2,dispensary,urban
4,F005,Nairobi Facility 5,Nairobi,5,dispensary,urban

In [5]:
prompts_engagement_df.head()

,prompts_mother_id,mother_id,registration_channel,registration_gestation_weeks,phone_type,language,msgs_sent_pregnancy,msgs_sent_postpartum_6w,msgs_read_est,replies_total,danger_signs_flagged,referrals_advised,reminders_pnc_sent,reminders_pnc_acknowledged,engagement_level,opted_out
0,P00001,2,community_CHV,17,smartphone_shared,Kiswahili,40,15,38,18,2,0,5,3,medium,0
1,P00002,4,community_CHV,26,feature_phone,English,31,19,25,7,0,0,6,0,low,0
2,P00003,5,facility,22,smartphone_shared,Kamba,40,21,42,19,1,0,3,1,medium,0
3,P00004,6,self_enroll,31,feature_phone,Kamba,33,16,34,8,0,0,4,3,medium,0
4,P00005,7,community_CHV,30,smartphone_shared,Luo,23,11,28,30,0,0,3,1,high,0

In [6]:
# Check for missing values and data types

mothers_hmis_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   mother_id                   5000 non-null   int64
 1   facility_id                 5000 non-null   str
 2   county                      5000 non-null   str
 3   residence_type              5000 non-null   str
 4   age                         5000 non-null   int64
 5   age_group                   5000 non-null   str
 6   parity                      5000 non-null   int64
 7   delivery_date               5000 non-null   str
 8   delivery_mode               5000 non-null   str
 9   complication_delivery       5000 non-null   str
 10  postpartum_complication_6w  5000 non-null   int64
 11  postnatal_visit_date_1      2898 non-null   str
 12  postnatal_visit_6w          5000 non-null   int64
 13  prompts_enrolled            5000 non-null   int64
 14  prompts_mother_id           2606 non-null   str
dtypes: int64(6), str(9)
memory usage: 586.1 KB

###### As shown in the above summary, only two columns; postnatal_visit_date_1 and prompts_mother_id, have missing values. These columns are expected to contain some empty entries, and no further action is required.

In [7]:
# Check for duplicates

duplicates = mothers_hmis_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

###### Because the dataset is synthetic and was generated with clean, consistent rules, it is ready for analysis without additional cleaning or preparation.